* {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.header {
  top: 0;
  position:absolute;
  width: 100%;
  padding: 12rem 2rem 2rem 2rem ;
  h1,h3{
    color: $light;
  }
  z-index: -1;
}

header.header + section {
  margin-top: 15rem!important;
}

.title {
  color: $primary;
}

.subtitle {
  color: $secondary;
}
